[Desktop Entry]
Version=0.1
Name=stats
Comment= hello ITC 136
Exec=/usr/bin/gnome-terminal -e "bash -c '/usr/local/bin/stats; bash'"
Icon=/home/fikir/Desktop/wolverine.jpg
Terminal=false
Type=Application
Categories=Utility;Application;
